@charset "UTF-8";
form {
	width:90%;
	margin: 15px auto;
}

fieldset {
	border:1px solid #216e39;
}

legend {
	text-align: center;
	padding:10px 20px; 
}

form div {
	width:80%;
	margin:5px auto;
}
form label, form input {
	margin:4px 5px;
}

form label {
	display: inline-block;
	width:20%;
	text-align: right;
	padding:8px;
	font-weight: bold;
}

form input {
	width:70%;
	padding:8px 12px;
	border-radius: 25px;
	outline: 0; 
	border-color: #ebedf0;
}

form input:focus {
	border-color: #30a14e;
}

form input:hover {
	background-color: #efefef;
} 